<header>
    <nav>
        <!-- navbar left -->
        <section class="nav-section">
            <ul class="nav-list">
                <li class="nav-item">Menu</li>
                <li class="nav-item">
                    <img src="/assets/fundawonen-logo.svg" alt="logo-funda" class="logo-funda" width="93" height="32">
                </li>
            </ul>
        </section>

        <!-- navbar right -->
        <section class="nav-section">
            <ul class="nav-list">
                <li class="nav-item">Mijn Huis</li>
                <li class="nav-item">Mohammed</li>
            </ul>
        </section>
    </nav>
</header>