<header>
    <nav>
        <!-- navbar left -->
        <section class="nav-section">
            <ul class="nav-list">
                <li class="nav-item">
                    <img src="/assets/icon-menu.svg" alt="icon-menu">
                    Menu
                </li>
                <li class="nav-item">
                    <img src="/assets/fundawonen-logo.svg" alt="logo-funda" class="logo-funda">
                </li>
            </ul>
        </section>

        <!-- navbar right -->
        <section class="nav-section">
            <ul class="nav-list">
                <li class="nav-item">
                    <img src="/assets/icon-house.svg" alt="icon-house">
                    Mijn Huis
                </li>
                <li class="nav-item">
                    <img src="/assets/icon-user.svg" alt="icon-user">
                    Mohammed
                </li>
            </ul>
        </section>
    </nav>
</header>