/* ================================================ */
/* root */
/* ================================================ */
:root {
    --white: #FFFFFF;
    --web-orange: #F7A100;
    --regent-blue: #E6F2F7;
    --lochmara: #0071B3;
    --mine-shaft: #333333;
    --silver: #CCCCCC;
    --orange-darker: #DE9000;
    --bahama-blue: #006199;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 100%;
    min-height: 100%;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: var(--mine-shaft);
}

main {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.success-bar {
    background-color: rgb(184, 255, 188);
    color: green;
    padding: 1em;
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 999999;
    border-left: 0.2em solid green;
}
/* ================================================ */
/* rating */
/* ================================================ */
.star-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    /* & .star-item input {
        display: none;
    } */

    & .star-item label {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
        transition: 0.5s ease;
        background-image: url('/assets/icon-star.svg');
        background-size: cover;
    }

    & .star-item label:last-child {
        margin-right: 0;
    }

    & .star-item .filled-star {
        background-image: url('/assets/icon-star-filled.svg');
    }
}

.btn-group-rating::before, .btn-user-rating::before {
    content: "+ ";
}

.rating-open::before {
    content: "- ";
}
/* ================================================ */
/* buttons */
/* ================================================ */
.btn-option {
    background-color: var(--regent-blue);
    padding: 0.75em;
    border-radius: 0.75em;
    color: var(--lochmara);
    border: none;
    outline: none;
    text-decoration: none;
}

.btn-type-1 {
    background-color: var(--web-orange);
    color: var(--white);
    padding: 0.75em;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 1em;
}

.btn-type-2 {
    background: none;
    color: var(--lochmara);
    padding: 0.75em;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 1em;
}

hr {
    border: 0.075em solid var(--silver);
}
/* ================================================ */
/* navbar */
/* ================================================ */
nav {
    background-color: var(--web-orange);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    font-size: 0.75em;
    margin-bottom: 1em;

    & .nav-section {
        
        & .nav-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            list-style-type: none;

            & .nav-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0.75em;
                color: var(--white);
                text-overflow: ellipsis;

                & .logo-funda {
                    width: 7.75em;
                    height: auto;
                }
            }

            & .nav-item:hover {
                background-color: var(--orange-darker);
            }
        }
    }

    & .nav-section:nth-child(1) {
        & .nav-list {
            & .nav-item:nth-child(1)::before {
                content: url('/assets/icon-menu.svg');
            }

            & .nav-item:nth-child(2):hover {
                background: none;
            }
        }
    }

    & .nav-section:nth-child(2) {
        & .nav-list {
            & .nav-item:nth-child(1)::before {
                content: url('/assets/icon-house.svg');
            }
    
            & .nav-item:nth-child(2)::before {
                content: url('/assets/icon-user.svg');
            }
        }
    }
}
/* ================================================ */
/* list */
/* ================================================ */
.list-section {
    padding: 0 1em;
    margin-bottom: 1em;
    grid-area: list-section;

    & h1 {
        font-weight: bold;
    }
}
/* ================================================ */
/* members */
/* ================================================ */
.member-section {
    padding: 0 1em;
    margin-bottom: 1em;
    grid-area: member-section;
    
    & h2 {
        font-size: 1.2em;
    }

    & .member-list {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        list-style-type: none;
        overflow-y: scroll;

        & .member-item {
            padding: 0.75em;
            text-align: center;

            & .member-add {
                width: 5em;
                height: 5em;
                background-color: var(--regent-blue);
                border-radius: 50%;
                color: var(--lochmara);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .member-profile {
                width: 5em;
                height: 5em;
                background-color: var(--silver);
                border-radius: 50%;
                color: var(--lochmara);
                overflow: hidden;

                & img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }

            & p {
                color: var(--lochmara);
                font-weight: bold;
                text-wrap: nowrap;
            }
        }
    }
}
/* ================================================ */
/* search */
/* ================================================ */
.search-section {
    width: 100%;
    padding: 0 1em;
    margin-bottom: 1em;
    grid-area: search-section;

    & .search-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin-bottom: 1em;

        & .search-item {
            flex: 0 0 auto;

            & input {
                background-color: var(--white);
                padding: 1em;
                border-radius: 0.75em;
                border: 0.175em solid var(--silver);
                width: 100%;
            }

            & .btn-map {
                background-color: var(--white);
                color: var(--lochmara);
                border: 0.175em solid var(--lochmara);
                padding: 0.5em;
                border-radius: 0.75em;
                outline: none;
                text-decoration: none;
            }
        }

        & .search-item:nth-child(1) {
            margin-right: 0.75em;
            flex: 3;
        }
    }
}
/* ================================================ */
/* options */
/* ================================================ */
.option-section {
    padding: 0 1em;
    margin-bottom: 1em;
    grid-area: option-section;

    & .option-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        width: 100%;

        & .option-item {
            flex: 1;
            margin-right: 0.75em;

            & .btn-option {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }

            &:nth-child(1) .btn-option::before {
                content: url('/assets/icon-filter.svg');
            }
        
            &:nth-child(2) .btn-option::before {
                content: url('/assets/icon-sort.svg');
            }
        
            &:nth-child(3) .btn-option::before {
                content: url('/assets/icon-add.svg');
            }
        }

        & .option-item:last-child {
            margin-right: 0;
        }
    }
}
/* ================================================ */
/* houses */
/* ================================================ */
.house-section {
    padding: 0 1em;
    margin-bottom: 1em;
    grid-area: house-section;

    & .house-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        width: 100%;

        & .house-item {
            background-color: var(--white);
            width: inherit;
            margin-bottom: 1em;

            & .house-content:nth-child(2) {
                border-bottom: 0.1em solid var(--silver);
                border-left: 0.1em solid var(--silver);
                border-right: 0.1em solid var(--silver);
                border-bottom-left-radius: 0.5em;
                border-bottom-right-radius: 0.5em;
                overflow: hidden;
            }

            & .house-content {
                
                & .house-image {
                    width: 100%;
                    height: 12em;
                    background-color: var(--silver);
                    border-top-left-radius: 0.5em;
                    border-top-right-radius: 0.5em;
                    overflow: hidden;
    
                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                & .house-details {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    list-style-type: none;
                    border-bottom: 0.1em solid var(--silver);
                    border-left: 0.1em solid var(--silver);
                    border-right: 0.1em solid var(--silver);
                    padding: 0.75em;
                    
                    & .house-title {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
    
                        & h2 {
                            font-size: 1em;
                            & a {
                                color: var(--lochmara);
                                text-decoration: none;
                                text-wrap: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                display: block;
                                width: 15em;
                            }
                        }
    
                        & .btn-remove {
                            background: none;
                            border: none;
                            outline: none;
                        }
                    }
    
                    & .house-price {
                        font-weight: bold;
                    }
    
                    & .house-agent {
                        color: var(--lochmara);
                    }
                }

                & .house-rating-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    list-style-type: none;
                    padding: 0.75em;
    
                    & .rating-item:nth-child(1) {
                        color: var(--lochmara);
                        
                        & .btn-type-2 {
                            padding: 0;
                        }
                    }
                }
    
                & .house-rating-list:hover {
                    background-color: var(--regent-blue);
                }
            }
        }
    }
}
/* ================================================ */
/* group score */
/* ================================================ */
.group-rating-article {
    background-color: var(--regent-blue);
    border-top: 0.1em solid var(--silver);

    & h3:nth-child(1) {
        padding: 0.75em 0.75em 0 0.75em;
    }

    & .group-rating-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        width: 100%;

        & .group-rating-item {
            width: inherit;

            & .user-list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                list-style-type: none;
                width: inherit;
                padding: 0.75em;

                & .user-item:nth-child(1) {
                    color: var(--lochmara);

                    & .btn-type-2 {
                        padding: 0;
                    }
                }
            }

            & .user-rating-form {
                border-top: 0.1em solid var(--silver);
                padding: 0.75em;
                
                & .user-rating-list {
                    list-style-type: none;
    
                    & .user-rating-item {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }
                }

                & textarea {
                    width: 100%;
                    height: 10em;
                    resize: none;
                    outline: none;
                    border: 0.1em solid var(--silver);
                    margin-bottom: 1em;
                    padding: 1em;
                }

                & .rating-button-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    list-style-type: none;
                    margin-bottom: 1em;

                    & .rating-button-item {
                        & .btn-type-2 {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}
/* ================================================ */
/* mediaquery */
/* ================================================ */
@media only screen and (min-width: 768px) {
    /* ================================================ */
    /* main */
    /* ================================================ */
    main {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "member-section list-section"
            "member-section search-section"
            "member-section option-section"
            "member-section house-section";
        padding: 0 15em;
    }
    /* ================================================ */
    /* navbar */
    /* ================================================ */
    nav {
        padding: 0 20em;

        & .nav-section {
            
            & .nav-list {
    
                & .nav-item {
                    flex-direction: row;
                    padding: 1.15em;
                }
            }
        }
    }
    /* ================================================ */
    /* members */
    /* ================================================ */
    .member-section {
        & .member-list {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            list-style-type: none;
            overflow-y: hidden;

            & .member-item {
                padding: 0.75em;
                text-align: center;

                & .member-add {
                    width: 5em;
                    height: 5em;
                    background-color: var(--regent-blue);
                    border-radius: 50%;
                    color: var(--lochmara);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                & .member-profile {
                    width: 5em;
                    height: 5em;
                    background-color: var(--silver);
                    border-radius: 50%;
                    color: var(--lochmara);
                    overflow: hidden;

                    & img {
                        width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }

                & p {
                    color: var(--lochmara);
                    font-weight: bold;
                }
            }
        }
    }
    /* ================================================ */
    /* houses */
    /* ================================================ */
    .house-section {

        & .house-list {

            & .house-item {

                & .house-content:nth-child(1) {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }

                & .house-content {
                    
                    & .house-image {
                        border-top-left-radius: 0.5em;
                        border-top-right-radius: 0;
                        width: 40%;
                    }

                    & .house-details {
                        border-top-right-radius: 0.5em;
                        border-top: 0.1em solid var(--silver);
                        border-left: none;
                        width: 60%;

                        & .house-title {
        
                            & h2 {

                                & a {
                                    width: 25em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}